body {
    background-color: rgb(210, 247, 248) !important;
    margin-top: 118px;
    overflow-y: scroll;
}

/* main {
    max-width: 100%;
} */

figure {
    background-color: rgba(72, 209, 205, 0.671);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    max-width: 270px;    
}

a:hover {
    text-decoration: underline;    }

.flex {
    display: flex;
}

.flexImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;       
    margin: 160px auto 40px auto;
    gap: 20px;

}

.text {
    text-align: justify;
    position: relative;
    margin: 0 auto;
    font-size: larger;
    max-width: 65%;
}